<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>Images for Testing - {{ title }}</title>
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/alert.css" rel="stylesheet">
    {% block extra_css %}{% endblock extra_css %}
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="title">
                <h1>Images for Testing</h1>
                <h4>sua solução de imagens para casos de teste</h4>
            </div>
            <div class="nav">
                <a id="home" href="{{ url_for('home') }}">Home</a>
                <a id="imagem" href="{{ url_for('imagem') }}">Imagem</a>
                <a id="contato" href="{{ url_for('contato') }}">Contato</a>
                <a id="sobre" href="{{ url_for('sobre') }}">Sobre</a>
            </div>
        </div>
        <div class="content">
            {% block content %}{% endblock content %}
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div id="alert-area" class="alert-area">
                {% for message in messages %}
                <div class="notification">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </div>
    </div>
    {% block extra_js %}{% endblock extra_js %}
    <script>
        function getActiveMenu(){
            let element = {{ title }};
            element.classList.add("active");
        }

        getActiveMenu()

    </script>
</body>
</html>