<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>Images for Testing - {{ title }}</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/alert.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/388a226fb7.js" crossorigin="anonymous"></script>
    {% block extra_css %}{% endblock extra_css %}
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="title">
                <h1>Images for Testing</h1>
                <h4>sua solução de imagens para casos de teste</h4>
            </div>
            <div class="nav">
                <a id="home" href="{{ url_for('home') }}">
                    <span class="text-nav">Home</span>
                    <i class="fas fa-home"></i>
                </a>
                <a id="imagem" href="{{ url_for('imagem') }}">
                    <span class="text-nav">Imagem</span>
                    <i class="fas fa-image"></i>
                </a>
                <a id="contato" href="{{ url_for('contato') }}">
                    <span class="text-nav">Contato</span>
                    <i class="fas fa-phone-alt"></i>
                </a>
                <a id="sobre" href="{{ url_for('sobre') }}">
                    <span class="text-nav">Sobre</span>
                    <i class="far fa-question-circle"></i>
                </a>
                <a id="logout" href="{{ url_for('logout') }}">
                    <span class="text-nav">Logout</span>
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </div>
        </div>
        <div class="content">
            {% block content %}{% endblock content %}
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div id="alert-area" class="alert-area">
                {% for message in messages %}
                <div class="notification">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </div>
    </div>
    {% block extra_js %}{% endblock extra_js %}
    <script>
        function getActiveMenu(){
            let element = {{ title }};
            element.classList.add("active");
        }

        getActiveMenu()

    </script>
</body>
</html>