<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

    <link href="/static/css/base.css" rel="stylesheet">
    {% block extra_css %}{% endblock extra_css %}
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="title">
                <h1>Images for Testing</h1>
                <h4>sua solução de imagens para casos de teste</h4>
            </div>
            <div class="nav">
                <a id="home" href="/home">Home</a>
                <a id="imagem" href="/imagem">Imagem</a>
                <a id="contato" href="/contato">Contato</a>
                <a id="sobre" href="/sobre">Sobre</a>
            </div>
        </div>
        <div class="content">
            {% block content %}{% endblock content %}
        </div>
    </div>
    <script>
        function getActiveMenu(){
            let element = {{ title }};
            element.classList.add("active");
        }

        getActiveMenu()
    </script>
</body>
</html>