<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>Images for Testing - {{ title }}</title>
    <link href="/static/css/base_register.css" rel="stylesheet">
    {% block extra_css %}{% endblock extra_css %}
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="title">
                <h1>Images for Testing</h1>
                <h4>sua solução de imagens para casos de teste</h4>
            </div>
        </div>
        <div class="content">
            {% block content %}{% endblock content %}
        </div>
    </div>
</body>
</html>