{% extends 'base.html' %}

{% block extra_css %}
<link href="/static/css/imagem.css" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
<h1 style="margin-bottom: 30px;">Upload de uma imagem base</h1>
<form action="" method=post enctype=multipart/form-data>
    <div style="margin-bottom: 30px;">
        <label for="selecao-imagem" class="input-image">
            <span id="file-name">Selecionar...</span>
        </label>
        <input id="selecao-imagem" type=file name=file title="Escolha uma imagem">
    </div>
    <input class="upload-btn" type=submit value=Upload>
</form>
{% endblock content %}

{% block extra_js %}
<script>
    var $input    = document.getElementById('selecao-imagem'),
        $fileName = document.getElementById('file-name');
    $input.addEventListener('change', function(){
    $fileName.textContent = this.value.split(/(\\|\/)/g).pop();
    });
</script>
{% endblock extra_js %}