.notification {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: white;
}

.alert-area {
    position: fixed;
    width: 300px;
    bottom: 5px;
    right: 0px;
    left: 0px;
    justify-content: center;
    z-index: 1;
}