.contato {
    text-align: center;
}

.titulo {
    margin-bottom: 50px;
}

.property {
    font-weight: bold;
    font-size: 20px;
}

.value {
    font-style: italic;
    font-size: 20px;
}

.redes-sociais {
    margin-top: 50px;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon {
    width: 40px;
    height: 40px;
    margin-left: 30px;
    margin-right: 30px;
}