.contato {
    text-align: center;
}

.titulo {
    margin-bottom: 50px;
}

.property {
    font-weight: bold;
    font-size: 20px;
}

.value {
    font-style: italic;
    font-size: 20px;
}

.redes-sociais {
    margin: 50px 0 20px 0;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon {
    width: 40px;
    height: 40px;
    margin-left: 30px;
    margin-right: 30px;
    filter: contrast(200%);
    filter: grayscale(100%);
}

.clear {
    filter: opacity(70%);
}

.icon:hover {
    filter: contrast(100%);
    filter: grayscale(0%);
}

@media (max-width: 800px) {
    .icon {
        margin-left: 10px;
        margin-right: 10px;
    }
    .value {
        font-size: 16px;
    }
}